/* ********************************** WishList Page ************************************* */
.page-title{
    background-color: rgb(226, 226, 226);
    height: 200px;
    margin-top: 80px;
  }

  .btn {
    font-size: 14px;
    color: #e91e63;
    border: 1px solid #ccc;
    transition-duration: 1s;
  }
  .btn:hover{
    background-color: #e91e63;
    color: #fff;
  }
  footer{
    background-color: rgb(226, 226, 226);
  }
  .sub{
    font-size: 14px;
    color: #fff;
  }
  .contact .info li{
    color: rgb(134, 134, 134);
    transition-duration: 1s;
  }
  .contact .info li:hover {
    color: #e91e63;
  }
  .footer-title{
    font-weight: 900;
    color: #e91e63;
  }
